<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img class="img-company" src="assets/images/company-logo.png" />
          <img class="img-robo" src="assets/images/robot.svg">
      </a>
    </div>
	
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 dropdown-toggle link-secondary">How it Works</a></li>
      <li><a href="#" class="nav-link px-2 dropdown-toggle link-secondary">Services</a></li>
      <li><a href="#" class="nav-link px-2 dropdown-toggle link-secondary">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 link-secondary">Blog</a></li>
    </ul>
	
    <div class="nav col-md-3 d-flex flex-column flex-sm-row justify-content-evenly">
      
      <div class="nav-item d-flex">
        <img class="img-2" src="assets/images/Frame.svg">
        <a href="#" class="nav-link link-secondary">EN</a>
      </div>
	  <a href="#" class="nav-link list-unstyled d-flex link-secondary">Login</a>
      <button type="button" class="nav-item btn header-start-button">Get Started →</button>
    </div>
  </header>
</div>