<div class="footer-body">
  <footer class="pt-3">
    <div class="row">
      <div class="col-md-3 offset-md-1">
        <h5>Email</h5>
        <ul class="nav flex-column ">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">robo.advisor@capgemini.com</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>Contact Us</h5>
        <p>1800-123-456<br>
        Mon - Fri (9 AM - 5 PM)</p>
      </div>

      <div class="col-md-2">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Help Center</a></li>
          <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Status</a></li> -->
        </ul>
      </div>

      <div class="col-md-2">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About us</a></li>
          <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Customer Stories</a></li> -->
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-evenly py-4 my-4">
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><i class="bi bi-twitter"></i></li>
      <li class="ms-3"><i class="bi bi-facebook"></i></li>
      <li class="ms-3"><i class="bi bi-linkedin"></i></li>
      <li class="ms-3"><i class="bi bi-instagram"></i></li>
      <li class="ms-3"><i class="bi bi-youtube"></i></li>
      <li class="ms-3"><i class="bi bi-globe"></i> EN</li>
      <li class="ms-3"> <p>&copy; 2023 Capgemini</p></li>
    </ul>
    <ul class="nav list-unstyled d-flex">
      <li class="ms-3"> <p>Terms of service</p></li>
      <li class="ms-3"> <p>Privacy Policy</p></li>
      <li class="ms-3"> <p>Manage Cookies</p></li>
      </ul>
      <ul class="nav  justify-content-center list-unstyled d-flex">
      <li class="ms-3"><img  src="assets/images/Apple-store-button.png" /></li>
      <li class="ms-3"><img  src="assets/images/google-play-button.png" /></li>
      
      </ul>
    </div>
  </footer>
</div>